*{
  box-sizing: border-box;
}
/*Conteiner Start*/
.conteiner{
  display: flex;
  gap: 10%;
  transition:  2s;
}

/*Aside Start*/
.aside{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: var(--header-height);
  padding: 10px 4%;
  background-color: var(--second-color);

  i{
    font-size: var(--h1-font-size);
    transition: .5s;
  }
  a > i{
    font-size: var(--h1-font-size);
    transition: .5s;
    color: #fff;
  }

  i:hover{
    color: var(--first-color);
  }
}
/*Aside End*/


/*Contnt Start*/
.content{
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 40px 4%;
  width: 75%;
  height:90vh;
  max-height: 100vh;
  overflow-y: auto;
  scrollbar-base-color: transparent;

  
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 4%;
    color: #9e9e9e;

    h1,span{
      font-size: var(--h1-font-size);
    }

    .create-task{
      display: flex;
      align-items: center;
      padding: 10px 4%;
      gap: .5rem;
      background-color: var(--first-color);
      color: #f5f5f5;
      font-size: var(--h3-font-size);
      border-radius: var(--border-radius);

      a > span{
        font-size: var(--h3-font-size);
        color: #f5f5f5;
      }
    }
  }
}
/*Content End*/

/*list-task Start*/
.list-task{
  width: 100%;
  padding: 0px 10%;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  align-items: center;
  
  .task{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--second-color);
    border-radius: var(--border-radius); 
  }
}
.task .content-principal{
  display: flex;
  width: 100%;
  padding: 20px 2%;
  justify-content: space-between;
  align-items: center;
  

  strong{
    color: #9e9e9e;
    font-size: var(--h2-font-size);
    font-weight: var(--minium-font);
  }
  b{
    color: #9e9e9e;
  }

  .btn-state{
    background-color: green;
    color: #adff2f;
    padding: 10px 4%;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    i{
      font-size: var(--smaller-font-size);
      color: #adff2f;
    }
  }
  .btn-paiding{
    background-color: #ffa000;
    cursor: pointer;
    color: #ff4;
    padding: 10px 4%;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: var(--border-radius);
    i{
      font-size: var(--smaller-font-size);
      color: #ff4;
    }
  }

  i{
    color: var(--first-color);
    font-size: 18px;
    font-weight: var(--font-bold);
  }

}

.description-all{
  height: 120px;
  margin-top: 0px; 
  transition: .5s;
  display: none;
  width: 100%;
  
  .description{
    margin-top: 5px;
    display: flex;
    padding: 15px 4%;
    justify-content: space-between;

    .description-txt{
      display: flex;
      flex-direction: column;
      gap: .5rem;
      h1{
        color: #9e9e9e;
      }
    }
    .btn-edit-remove{
      display: flex;
      flex-direction: column;
      gap: .5rem;
      width: 250px;
      max-width: 15%;
      button{
        outline: none;
        transition: .5s;
        background-color: var(--first-color);
        border: none;
        width: 100%;
        color: #9e9e9e;
        padding: 3% 4%;
        border-radius: var(--border-radius);
      }
      button:is(:hover,:focus){
        background-color: #1e1e1e;
        color: #f5f5f5;
      }
    }
   
  }
 
}
         
/*list-task End*/

/*Conteiner End*/

@media screen and (max-width:888px) {
  .conteiner{
    display: block;
  }

  .aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    padding: 10px 4%;
    
    .footer{
      display: flex;
      gap: 1.5rem;
    }
  }
  .content{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 40px 4%;
    width: 100%;
    height:90vh;
    max-height: 100vh;
    min-width: 451px;
    overflow-y: auto;
    scrollbar-base-color: transparent;
  }
  
.task .content-principal{
  display: flex;
  width: 100%;
  padding: 10px 2%;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;

  strong{
    color: #9e9e9e;
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
  }
  .title{
    font-size: var(--small-font-size);
  }
  b{
    color: #9e9e9e;
    font-weight: var(--font-minium);
  }

  .btn-state{
    background-color: green;
    color: #adff2f;
    padding: 10px 4%;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: var(--border-radius);
    i{
      font-size: var(--smaller-font-size);
      color: #adff2f;
    }
  }
  .btn-paiding{
    background-color: #ffa000;
    color: #ff4;
    padding: 10px 2%;
    display: flex;
    align-items: center;
    gap: .2rem;
    border-radius: var(--border-radius);
    i{
      font-size: var(--smaller-font-size);
      color: #ff4;
    }
  }

  i{
    color: var(--first-color);
    font-size: 18px;
    font-weight: var(--font-bold);
  }

}
    
    
}