*{
  font-size: var(--normal-font-size);
}
.container{
  margin: 0 auto; 
  padding: 200px 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  h1{
    text-align: center;
    font-size: var(--biggest-font-size);
    padding: 0px 4%;
    font-weight: var(--font-bold);
  }
  p{
    line-height: 20px;
    text-align:left;
    padding: 15px 8%;
    font-size: var(--h2-font-size);
  }
}
form{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 0px 4%;
  text-align: center;

  .input-name{
    display: flex;
    justify-content: content;
    align-items: center ;
    gap: .5rem;
  }
  .conteiner-name{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    width: 100%;
  }
  label{
    margin: 0px 4%;
    text-align: left;
  }
  input,button{
    padding: 15px 4%;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--second-color);
    transition: .5s;
  }
}
button{
  margin: 5px 0px;
}
input{
  border: 2px solid transparent;
  transition: all .5s;
}
input:hover,button:hover{
  background-color: #1e1e1e;
  color: var(--text-color);
}
@media screen and (max-width: 1220px) {
  .container {
      width: 95%;
      flex-direction: column;
      padding: 20% 4%;
  }
  .content{
    margin: 0px 8%;
    h1{
      margin-bottom: 15px;
    }
    p{
      display: none;
    }
  }
  form{
    width: 100%;
  }
}